body {
font-family: Arial;
margin: 0;
background-color: #111;
color: white;
text-align: center;
}

header {
background: black;
padding: 20px;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
}

.hero {
background: blue;
padding: 50px;
}

button {
padding: 10px 20px;
font-size: 16px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 40px;
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.about {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}

.about h3 {
  margin-top: 25px;
  color: #2a2aff;
}

.about ul {
  margin-top: 15px;
}
